<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nnt.jetpackcomposewithcleanarch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeWithCleanArch">
        <activity
            android:name="com.nnt.moviedetail.MovieDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/Theme.JetpackComposeWithCleanArch.NoActionBar" />
        <activity
            android:name="com.nnt.home.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackComposeWithCleanArch.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>